<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Disable directory browsing
    Options -Indexes

    # Redirect everything to public folder
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
