<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Disable directory browsing
    Options -Indexes

    # Redirect to index.php if not a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
